/* utility classes */

:root {
    --gradient-color: linear-gradient(to right, #3EA9FF, #42D0FE);
    --color-grey:rgb(155, 155, 155);
    --color-white:#fff ;
    --color-black: black;
    --color-blue: #3EA9FF;
    --color-background:#F9F9FF;
    --color-for-footer:  #212529;

}